* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Orbitron", sans-serif;
  background-color: #c4c4c4;
}

.todo {
  width: 800px;
  text-align: center;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border-radius: 5px;
}

@media (max-width: 545px) {
  .todo {
    width: 470px;
  }
}

.header {
  padding: 40px;
  border-radius: 5px 5px 0 0;
  background-image: url(../img/todo-lists-5238324_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 545px) {
  .header {
    padding: 40px 10px;
  }
}

.header__title {
  margin-bottom: 20px;
  color: whitesmoke;
  text-transform: uppercase;
}

.header__todo-input {
  width: 80%;
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: #4f525c;
  background-color: whitesmoke;
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 545px) {
  .header__todo-input {
    width: 70%;
  }
}

.header__add-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  color: #0254a1;
  background-color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.header__add-btn :hover {
  color: #fff;
  background-color: #4f525c;
}

.todo-list__alert-info {
  margin-top: 20px;
  margin-bottom: 20px;
  color: dark-blue-color;
}

.todo-list__test {
  padding: 20px 0;
}

.todo-list h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 15px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align-last: left;
  list-style: none;
  background-color: whitesmoke;
}

.todo-list__tools {
  display: inline-block;
}

.todo-list__tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s;
}

.todo-list__complete {
  color: #0084ff;
}

.todo-list__edit {
  font-weight: bold;
  color: #0fb345;
}

.todo-list__delete {
  color: tomato;
}

.completed {
  font-size: 12px;
  font-style: italic;
  color: #4f525c;
  text-decoration: line-through;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  color: whitesmoke;
  background-color: #4f525c;
  font-family: "Orbitron", sans-serif;
  border-radius: 5px;
}

@media (max-width: 545px) {
  .popup {
    width: 430px;
  }
}

.popup__editTask {
  padding: 20px;
}

.popup__popup-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

.popup__popup-info {
  margin-bottom: 20px;
  color: whitesmoke;
}

.popup__popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #4f525c;
  background-color: whitesmoke;
  font-family: "Orbitron", sans-serif;
}

.popup__popup-btn {
  display: inline-block;
  width: 30%;
  padding: 10px 22px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  background-color: whitesmoke;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.popup__popup-btn :hover {
  color: #fff;
  background-color: #0084ff;
}
/*# sourceMappingURL=style.css.map */