$deep-dark-color:rgb(26, 26, 26);
$light-dark-color: rgb(79, 82, 92);
$light-blue-color: rgb(0, 132, 255);
$dark-blue-color: rgb(2, 84, 161);
$light-color: rgb(245, 245, 245);
$delete-color: tomato;
$edit-color:rgb(15, 179, 69);