@import "variables";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-family: $font-Elite;
    background-color: rgb(196, 196, 196);
}


.todo {
    width: 800px;
    text-align: center;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    border-radius: 5px;
 @media(max-width:545px){
    width: 470px;

 }

}

.header {
    padding: 40px;
    border-radius: 5px 5px 0 0;
    background-image: url(../img/todo-lists-5238324_1280.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:545px){
        padding:40px 10px
    
     }

 
   
}
.header__title {
    margin-bottom: 20px;
    color: $light-color;
    text-transform: uppercase;
}
.header__todo-input {
    width: 80%;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    color: $light-dark-color;
    background-color: $light-color;
    font-family: $font-Elite;
    @media(max-width:545px){
        width: 70%;
    
     }
}
.header__add-btn {
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    color: $dark-blue-color;
    background-color: $light-color;
    font-family: $font-Elite;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    :hover {
        color: #fff;
        background-color: $light-dark-color;
    }
}




.todo-list__alert-info {
    margin-top: 20px;
    margin-bottom:20px;
    color: dark-blue-color;
}


.todo-list__test {
    padding: 20px 0;
    
}

.todo-list{
    h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top:15px
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
        padding-left: 20px;
        text-align-last: left;
        list-style: none;
        background-color: $light-color;
    }
}

.todo-list__tools {
    display: inline-block;
    button {
        padding: 15px 10px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: background-color .3s;
        
    }
}

.todo-list__complete{
    color: $light-blue-color;
}

.todo-list__edit {
    font-weight: bold;
    color: $edit-color;
}

.todo-list__delete {
    color: $delete-color;
}

.completed {
    font-size: 12px;
    font-style: italic;
    color: $light-dark-color;
    text-decoration: line-through;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    color: $light-color;
    background-color:$light-dark-color;
    font-family:$font-Elite;
    border-radius: 5px;
    @media(max-width:545px){
        width: 430px;
    
     }
   
        
    }


.popup__editTask {
    padding: 20px;
}

.popup__popup-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
   
 
  
    }

.popup__popup-info {
    margin-bottom: 20px;
    color: $light-color;
}

.popup__popup-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: $light-dark-color;
    background-color: $light-color;
    font-family: $font-Elite;
}

.popup__popup-btn {
    display: inline-block;
    width: 30%;
    padding: 10px 22px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: $deep-dark-color;
    background-color:$light-color;
    text-transform: uppercase;
    font-family: $font-Elite;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    :hover {
        color: #fff;
        background-color: $light-blue-color;
    }
}